.img-hero {
  object-fit: cover !important ;
  width: 100% !important ;
  height: 100% !important ;
  position: fixed !important ;
  z-index: -1 !important ;
 
}
.myBG {
  height: 100vh;
  background: url("./components/Images/Hero.jpg");
  background-size: cover;
}
.bg-crem{
  background: url("./components/Images/bg-body.jpg");
  background-size: cover;
}
.bg-lt{
background-color: rgba(255, 255, 255, 0.5);
}
.text-hero1{
  font-size: 70px !important;
}
.text-hero2{
  font-size: 50px !important;
}
.fawe{
  font-size: 90px !important;
  
}
.fawe:hover{
  font-size: 300px !important;
}

.imh:hover{
  width: 200px;
}